<ul class='small-block-grid-7'>
  <% _.each(weekdays, function(weekday) { %>
    <li class='day-list-item' id='weekday-<%= weekday.day %>'>
      <div class='day-title'>
        <%= weekday.day %> <%= weekday.month %>/<%= weekday.date %>
      </div>
      <ul class='post-list'>
      </ul>
    </li>
  <% }) %>
</ul>
