<a class='tiny button success' id='upload-content-button'>Add Asset</a>
<input type="file" id="upload-asset" name="asset[image][attachment]" accept="image/png,image/jpeg" />
<ul id='asset-list' class='small-block-grid-3'>
</ul>
