<a><i class='fi-check asset-check'></i></a>
<img src="<%= asset.get("image").url %>" >
<div class='menu-container'>
  <a class='asset-action-button'>Dropdown</a>
  <div class='menu'>
    <ul>
      <li>remove</li>
      <li>approve</li>
    </ul>
  </div>
</div>
