<form id="campaign-form" action="http://localhost:3000/collaborations/1/campaigns" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓">
    <input placeholder="Create campaign" type="text" name="campaign[name]" id="campaign_name">
</form>