<h1>Create Collaboration</h1>
<form class="new_collaboration" id="new_collaboration" action="/collaborations" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="Ayy+yeHJhRn65e2f33PLtiLvTi2kprm61u6wEqnWdBkIN1xKmxr3iXBZKSwZcCqVroc/vpa8cxaCKOGbn/SVUg==">
  <div>
  	<label for="collaboration_name">Name</label>
  	<br>
  	<input autofocus="autofocus" type="text" name="collaboration[name]" id="collaboration_name">
	</div>
  <div>
  	<label for="collaboration_description">Description</label>
    <textarea autofocus="autofocus" name="collaboration[description]" id="collaboration_description" data-gramm="" data-txt_gramm_id="1b71e1df-0f5e-8c88-96aa-5fb5c7394ad2"></textarea>
  </div>
  <div>
  	<input type="submit" name="commit" value="Create Collaboration">
	</div>
</form>