<h1><%= collaboration.escape("name") %></h1>
<p><%= collaboration.escape("description") %></p>

<div class='row'>
  <div id='left-column' class='small-2 columns'>
  </div>
  <div id='right-column' class='small-8 small-offset-1 columns end'>
  </div>
</div>
