<h1><%= collaboration.escape("name") %></h1>
<p><%= collaboration.escape("description") %></p>

<div class='row'>
  <div class='small-2 columns'>
    <div id='membership-section'>
      <h6 class='section-title'><strong>Members</strong></h6>
      <input id='membership-form' type='text' placeholder='Add member'>
      <ul id='membership-list'>
      </ul>
    </div>
  </div>
  <div class='small-8 small-offset-1 columns end'>
    <div id='post-section'>
    </div>
  </div>
</div>
