<div class='create-post-modal'>
  <h4>
    Create Post
  </h4>
  <input id='post-name' type='text' placeholder="Name" name='name'></input>
  <input id='post-scheduled-at' type="datetime-local" name="scheduled_at">
  <a id='cancel-create-button' class='cancel tiny button secondary'>Cancel</a>
  <a id='submit-post-button' class='cancel tiny button'>Submit</a>
</div>
