<div class='row'>
  <div class='small-2 columns'>
    <a class='tiny button success' id='today-button'>Today</a>
  </div>
  <div class='small-4 small-offset-2 columns'>
    <ul class="button-group even-3 text-center">
      <li><a href="#" class="tiny button secondary time-scale-select" data-scale='week'>Weekly</a></li>
      <li><a href="#" class="tiny button secondary time-scale-select" data-scale='month'>Monthly</a></li>
    </ul>
  </div>
  <div class='small-2 columns text-right'>
    <a class='tiny button success' id='create-post-button'>Create Post</a>
  </div>
</div>
<div class='row'>
  <div class='small-1 columns'>
    <a class='time-scale-arrow' data-scale-amount="-1"><i class='fi-arrow-left'></i></a>
  </div>
  <div class='small-10 columns' id='time-scale-title'>
    Loading...
  </div>
  <div class='small-1 end columns'>
    <a class='time-scale-arrow float-right' data-scale-amount="1"><i class='fi-arrow-right'></i></a>
  </div>
</div>
<div id='calendar'>
</div>
