<h1>Post Show Template!</h1>

<div class='row'>
  <div id='comment-section' class='small-3 columns'>
    <ul id='comment-list'>
    </ul>
    <textarea id='new-comment-field' placeholder='Leave a comment'></textarea>
    <a class='tiny button success right' id='post-comment-button'>Post</a>
  </div>
  <div id='content-section' class='small-9 columns'>
    <a class='tiny button success right' id='upload-content-button'>Upload Content</a>
    <input type="file" id="upload-asset" name="asset[image][attachment]" accept="image/png,image/jpeg" />
    <ul id='asset-list'>
    </ul>
  </div>
</div>
