// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Platforms-Container {

}

.Platform {
  border: 1px solid black;
}

.Platform.selected {
  font-weight: bold;
}

.modal-container {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.45);
}

.create-post-modal {
  position: absolute;
  padding: 2em;
  z-index: 1000;
  width: 80%;
  max-width: 40em;
  margin: 0 auto;
  top: 5em;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 1);
}

.cancel {
  margin-bottom: 0;
}

#upload-asset {
  display: none;
}

.menu-container {
  position: relative;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
}

.hide {
  display: none;
}

.menu li:hover {
  background-color: red;
}

#media-section {
  border: 1px solid black;
}

#asset-list {
  border: 1px solid yellow;
}

#comment-section {
  border: 1px solid black;
}

.content-list-item {
  display: inline-block;
  position: relative;
  width: 6em;
  height: 3em;
  text-align: center;
  margin-right: 1em;
  line-height: 3em;
  border: 1px solid red;
}

.content-selected {
  border: 1px solid green;
}
